// ---- Client 特有的层级定义 ----

$z-layers: (
  background: "背景",
  game: "游戏渲染层",
  ui: "游戏UI层",
  fly-item: "游戏弹出元素",
  chat-log: "聊天以及游戏日志层",
  dialog: "弹出框层",
  countdown-timer: "倒计时",
  message: "顶部信息提示层",
  danmaku: "弹幕",
  scoreboard: "记分板",
  loading: "加载遮罩",
  topbar: "窗口栏",
);

// ---- 生成 CSS 变量 ----
:root {
  @each $name, $comment in $z-layers {
    $index: index($z-layers, ($name $comment));
    --z-#{$name}: #{($index * 10) - 10};
  }
}
